html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c28e0063;
  color: #003366;
}

body {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 4px solid #ccac00;
  max-width: 40%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
}

fieldset legend {
  font-size: 28px;
  font-weight: bold;
}

fieldset h1 {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  align-items: center;
  background-color: #003366;
  color: #ccac00;
  width: auto;
  padding: 10px;
  margin: 35px auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background-color: #ccac00;
  color: #003366;
}

div {
  max-width: 600px;
  margin: 5px auto;
  padding: 10px;
  border: 2px solid #ccac00;
  border-radius: 10px;
  background-color: #e0e0e0;
}

div label {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

div select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccac00;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  background-color: #e0e0e0;
}

div input,
div textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccac00;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #e0e0e0;
}

#main-page footer {
  background-color: #036;
  color: #ccac00;
  text-align: center;
  padding: 10px;
  position: static;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media (max-width: 768px) {
  fieldset {
    max-width: 90%;
  }

  div {
    max-width: 100%;
  }
}
