header{
  background-color: #003366;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #CCAC00;
  font-weight: bold;
}

nav a:hover {
  color: #FFDD00;
}

li {
  display: inline;
  margin-right : 25px;
  font-size : 22px; 
}


fieldset {
  border: 4px, solid #CCAC00;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}
fieldset legend {
  font-size: 28px;
  font-weight: bold;
  color: #003366;
}
fieldset h1 {
  margin: 0;
  padding: 0;
}
fieldset button {
  display: flex;
  align-items: center;
  background-color: #003366;
  color : #CCAC00;
  width: auto;
  padding: 10px;
  margin: 35px auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
div {
  max-width: 600px;
  margin: 5px auto;
  padding: 10px;
  border: 2px solid #CCAC00;
  border-radius: 10px;
  background-color: #f9f9f9;
}
div label {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #003366;
}
div select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #CCAC00;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}

div input, div textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #CCAC00;
  border-radius: 5px;
  box-sizing: border-box;
}

footer {
  background-color: #036;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
