$primary: #003366;
$secondary: #ccac00;
$tertiary: #ffdd00;
$dark: #003366;
$body-bg: #ccac00;
$body-color: #0f2442;
$headings-color: #003366;
$link-color: #ffdd00;
$link-hover-color: #ccac00;
$navbar-hover-color: #ffdd00;
$nav-link-hover-color: #ffdd00;
$border-radius: 1rem;
$border-radius-lg: 1.25rem;
$box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Mooli", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
