$primary : #003366;
$secondary : #CCAC00;
$tertiary : #FFDD00;
$navbar-hover-color: #ffdd00;
$nav-link-hover-color: #ffdd00;
//changer couleur hover nav-link
$dark : #003366;
$body-bg: rgba(194, 142, 0, 0.1);
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Mooli", serif !default;

//voir pourquoi polices prises en comptes mais non mises en place

@import "../node_modules/bootstrap/scss/bootstrap";
